.dashboard{
    position: absolute;
    display: grid;
    grid-template-areas:
    "DB_balance DB_income DB_expense"
    "DB_balance_value DB_income_value DB_expense_value";
    height: max-content;
    left: 0;
    top: 10%;
    right: 0;
    margin: auto;
    background-color: rgba(26, 26, 26, 0.9);
    border-radius: 50px;
    color: #fff;
    font-size: 2rem;
    gap: 10px 50px;
    padding: 50px 20px;
    text-align: center;
    overflow-x: auto;
}
.DB_balance{
    margin: auto;
    width: max-content;
    grid-area: DB_balance;
    font-size: 1.5rem;
}
.DB_income{
    margin: auto;
    width: max-content;
    grid-area: DB_income;
    font-size: 1.5rem;
}
.DB_expense{
    margin: auto;
    width: max-content;
    grid-area: DB_expense;
    font-size: 1.5rem;
}
.DB_balance_value{
    color: Skyblue;
    grid-area: DB_balance_value;
}
.DB_income_value{
    color: springgreen;
    grid-area: DB_income_value;
}
.DB_expense_value{
    color: rgb(255, 30, 30);
    grid-area: DB_expense_value;
}
.home{
    position: absolute;
    left: 0;
    bottom: 10%;
    right: 0;
    margin: auto;
    align-self: center;
    text-align: center;
    max-height: 50%;
    padding: 80px;
    background-color: rgba(26, 26, 26, 0.9);
    color: #fff;
    border-radius: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.home h1{
    font-size: 2rem;
}
.setTime{
    display: grid;
    grid-template-areas: 
    "firstDate lastDate"
    "firstInput lastInput";
    gap: 20px;
    justify-content: center;
}
.setTime input{
    width: max-content;
    padding: 5px;
    border-radius: 50px;
}
.firstDate{
    grid-area: firstDate;
}
.lastDate{
    grid-area: lastDate;
}
.firstInput{
    grid-area: firstInput;
}
.lastInput{
    grid-area: lastInput;
}
.logout{
    position: absolute;
    right: 0;
    margin:20px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 1);
    border: none;
    border-radius: 10px;
    color: #fff;
}
.logout:hover{
    background-color: rgba(128, 128, 128, 0.8);
}
#findTransactionsButton, #clean{
    border-radius: 50px;
    padding: 5px 20px;
    margin:10px;
}
.add{
    position:fixed;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right:50px;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px;
}
.add:hover{
    background-color: greenyellow;
}
.delete{
    position: absolute;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    width: 22px;
    right: 10px;
    top: 35%;
    background-color: rgb(170, 0, 0);
    color: #fff;
    display: none;
}
ol{
    list-style: none;
}
ol li{
    position: relative;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: left;
    padding: 1% 5%;
}
ol li:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: #222;
}
ol li:hover .delete{
    display: block;
}
ol p{
    padding: 2px 0 2px 0;
}
ol li.expense{
    border-left: 10px solid red;
}
ol li.income{
    border-left: 10px solid green;
}
@media (min-width: 1440px) {
    .home, .dashboard{
        width: 30%;
    }
    .home{
        max-height: 60%;
    }
}
@media (max-width: 1920px) {
    .home, .dashboard{
        width: 40%;
    }
}
@media (max-width: 1280px) {
    .home, .dashboard {
        width: 60%;
    }
}
@media (max-width: 750px) {
    .home, .dashboard {
        width: 100%;
    }
    .home{
        max-height: 55%;
    }
}
@media (max-width: 400px) {
    .dashboard{
        max-height: 25%;
    }
    .home{
        max-height: 45%;
    }
}